<div class="form panel panel-default">
    <div class="panel-heading">
        <h3>Receive funds</h3>
    </div>
    <div class="panel-body">
        <form role="form" onsubmit="return false;" {{action "submit" on="submit"}}>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input class="form-control" placeholder="from.."/>
                </div>
            </div>
            <div class="actions">
                <button class="btn btn-primary pull-right" type="submit">Receive</button>
            </div>
        </form>
    </div>
</div>